<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="login.js"></script>
</head>
<body>
    <div class="card-login">
        <form class="form-login">
            <label>
                Usuario
                <input type="text" placeholder="Ingresa tu usuario">
                <br><br>
            </label>
            <label>
                Contraseña
                <input type="password" placeholder="Ingresa tu contraseña">
            </label>
        </form>
    </div>
</body>
</html>